<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Update Remark</title>
</head>
<body>
    <button id="next-page">Fetch Data</button>
    <h1>Update Remark</h1>
    <form id="config-details">
        <label>Config To Update (configId): </label>
        <input type="text" name="config" required>
        <label>Remark: </label>
        <input type="text" name="remark" required>
        <button type="submit">Submit</button>
    </form>
    

    <div id="config-data"></div>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js" integrity="sha512-NQfB/bDaB8kaSXF8E77JjhHG5PM6XVRxvHzkZiwl3ddWCEPBa23T76MuWSwAJdMGJnmQqM0VeY9kFszsrBEFrQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="script.js"></script>
</body>
</html>